body{
  font-family: "Montserrat";
  text-align:center;

}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;

}

p{
  color: #8f8f8f;
}
/* container-section */

.container-fluid{
  padding:7% 15%;
}

/* color-section */

.colored-section{
  background-color:#ff4c68;
  color: #fff;

}
.white-section{
  background-color: #fff;

}

/* Download-button */

.Download-btn{
  margin: 5% 3% 5% 0;
  text-align: left;
}

/* navigation-bar */

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight:bold;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

/* TITLE SECTION */


#title .container-fluid{
  padding: 7% 15%;
  text-align: left;

}

.title-heading{
  text-align:left;
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Title-image */

.phone-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  left:70px;
}

/* MEADIA jquery */

@media (max-width:1048px) {
  #title{
    text-align:center;
  }
}

@media (max-width:1048px) {
  .phone-image{
    position:static;
    transform:rotate(0);
    text-align:center;
  }

}

/* FEATURES SECTION */

#features{
  position:relative;
}

.feature-message{
  font-weight:600;
  font-size:1.4rem;
  line-height:1.5;
}

.feature-box{
  padding: 4.5%;
}

.icon-img{
  margin-bottom:1rem;
  color:#ef8172;
}

.icon-img:hover{
  color:#ff4c68;
}

/* Testimonials section */

#testimonials{
  background-color:#ef8172;
}
.testimonial-text{
  font-weight:500;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image{
  border-radius:100%;
  margin:20px;
  width: 10%
}

/* PRESS SECTION */

#press{
  background-color: #ef8172;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING SECTION */

.pricing-text{
  font-weight:700;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-message{
  font-weight:600;
  font-size: 1.4rem;
  line-height: 1.5;
}

.card{
  width:18 rem;
  margin: 30px 50px;
}

.pricing-deck{
  margin: 0 30px;
  padding-bottom: 100px;
}

/* FOOTER-SECTION */

.foot-heading{
    font-size: 3.0rem;
    font-weight: 600;
}

/* CONATCT SECTION */

.a{
  letter-spacing: 30px;
  color:#8f8f8f;

}

.copyright-section{
  padding: 20px;
}
